.nav-link {
  color: #1111aa;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  width: 88px;
  height: 2.25rem;
  margin-left: 1.5rem;
}
.nav-link:hover{
    color: #F89000;
}

.d-inline-block{
    margin-top:0;
}
ul:last-child{
    margin-right: 20px;
}


.navbar-brand{
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.7rem;
    margin-left: 3.063rem;
}

.d-inline-block{
    height: 95px;
    width: 267px;
    margin-left: 0;
}

.navbar-toggler{
    margin-right: 15px;
    margin-top: 25px;
}

@media (max-width: 403px)
{
    .navbar-brand{
        margin-left: 0;
    }
}