@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,800&family=Roboto:wght@700;900&display=swap");

.sectionOne {
  background-image: url(../imgs/smilingWoman.png);
  height: 55.813rem;
  width: 100vw;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.glass {
  height: 40.25rem;
  width: 40.438rem;
  text-align: left;
  padding-left: 2.688rem;
  padding-right: 1.625rem;
  padding-top: 3.125rem;
  padding-bottom: 3.75rem;
  background-color: rgba(221, 218, 255, 0.5);
  border-radius: 21px;
  position: relative;
  left: 5.063rem;
  top: 5.5rem;
}
hr {
  border: none;
  background-color: #f89000;
  width: 63px;
  border: 3.5px solid #f89000;
  border-radius: 21px;
  opacity: 100;
}

h1 {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.938rem;
  letter-spacing: 0.1em;
  color: #1111aa;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #605d5d;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 139.19%;
  letter-spacing: -0.005rem;
  color: #000000;
  max-width: 35rem;
  margin-top: 1.25rem;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  border: solid 3px #f89000;
  border-radius: 21px;
  padding: 14px 41.5px;
  text-decoration: none;
  margin-left: 130px;
  margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionOne {
    height: 43rem;
  }

  .glass {
    height: 31.47rem;
    width: 31.62rem;
    padding-left: 2.1rem;
    padding-right: 1.27em;
    padding-top: 2.44rem;
    padding-bottom: 2.93rem;
    position: relative;
    left: 3.5rem;
    top: 2.5rem;
  }

  h1 {
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: 800;
    font-size: 1.954rem;
    line-height: 2.3rem;
    letter-spacing: 0.1em;
    color: #1111aa;
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 1.76rem;
    line-height: 2.05rem;
    color: #605d5d;
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.17rem;
    line-height: 139.19%;
    letter-spacing: -0.005rem;
    color: #000000;
    max-width: 27.36rem;
    margin-top: 0.977273rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sectionOne {
    height: 32rem;
  }

  .glass {
    height: 31.47rem;
    width: 31.62rem;
    padding-left: 2.1rem;
    padding-right: 1.27em;
    padding-top: 2.44rem;
    padding-bottom: 2.93rem;
    position: relative;
    left: 3.5rem;
    top: 2.5rem;
  }

  h1 {
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: 800;
    font-size: 1.954rem;
    line-height: 2.3rem;
    letter-spacing: 0.1em;
    color: #1111aa;
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 1.76rem;
    line-height: 2.05rem;
    color: #605d5d;
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.17rem;
    line-height: 139.19%;
    letter-spacing: -0.005rem;
    color: #000000;
    max-width: 27.36rem;
    margin-top: 0.977273rem;
  }
}
